<p id="notice"><%= notice %></p>

<h1>25/10 Crowdsourcing</h1>

<p>What do you want to do?</p>

<p>
    <% if @administrator %>
      <%= link_to "View your challenges", [:admin, :challenges] %>
    <% else %>
      <%= button_to "Start a new challenge", [:administrators], action: :create %>
    <% end %>
</p> <p>Participate in a challenge (use the challenge url shared by your administrator)</p>

<% content_for :footer do %>
  <p>Built in a hurry by <a href="https://twitter.com/dgheath21">David Heath</a>.</p>
  <p><a href="https://github.com/heathd/twentyfiveten">Find the source code on Github</a></p>

  <p>(c) David Heath 2020</p>
<% end %>
