<p id="notice"><%= notice %></p>

<h1>25/10 Crowdsourcing</h1>

<p>What do you want to do?</p>

<p>
    <% if @administrator %>
      <%= link_to "View your challenges", [:admin, :challenges] %>
    <% else %>
      <%= button_to "Start a new challenge", [:administrators], action: :create %>
    <% end %>
</p> <p>Participate in a challenge (use the challenge url shared by your administrator)</p>
