<h1>Twenty Five Ten Crowdsourcing</h1>

<h2>Privacy and data protection</h2>

<p>This application will store and process your data in order to offer the 25/10 crowdsourcing service. The lawful basis for processing your data is <b>consent</b>. </p>

<p>All voting and administration is anonymous. Your identity is tracked using a browser cookie <code>_twentyfiveten_session</code>.</p>

<p>This application does not explicitly collect any personal data. You choose what data to submit. We process and store your data securely in Heroku (read <a href="https://www.heroku.com/policy/security">Heroku's security and privacy policy</a>).</p>

<p><strong>Your data will be deleted after 30 days.</strong></p>

<p>If you wish to retain your data please copy/paste and save it elsewhere.</p>
