<div class="challenge">
  <%= simple_format(challenge.challenge_text) %>
</div>


<% if @participant.proposed_solution.new_record? || params[:amend_proposal] %>

  <%= render 'challenges/participant/active/edit_proposed_solution', challenge: challenge, proposed_solution: @participant.proposed_solution, amend: !!params[:amend_proposal] %>

<% else %>

  <%= render 'challenges/participant/active/show_proposed_solution', locals: {proposed_solution: @participant.proposed_solution} %>

<% end %>


