<p id="notice"><%= notice %></p>

<p>
  <strong>Administrator:</strong>
  <%= @administrator.administrator_id %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
