<h1>Challenge</h1>
<%= render "challenges/challenge", challenge: @challenge %>

<p>There are <%= pluralize(@num_participants, "participant") %> and <%= @num_proposals %> proposals submitted so far </p>
<p>The challenge status is <strong><%= @challenge.status %></strong>

<% if session[:participant_id] %>

<% elsif @challenge.status=='open' %>
<% end %>
