/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize
 *= require skeleton
 *= require_tree .
 *= require_self
 */

.admin_challenge_index tr.about_to_be_deleted {
  background-color: #ffcccc;
}

.admin_challenge_index tr.old {
  background-color: #ffd9b3;
}

body {
  margin: 0;
}
body, p, ol, ul, td {

  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
}
