// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.challenge {
  background-color: #cfe;
  padding: 1em;
  margin: 1em 0;
  p {
   font-size: 130%;
   line-height: 1.2;
  }
}

.proposed_solution {
  background-color:  #fff2e6;
  padding: 1em;
  margin: 1em 0;
  p {
   font-size: 120%;
   line-height: 1.2;
  }
}

.proposal_form .narrative textarea {
  height: 15em;
}

.proposal_form .first_step textarea {
  height: 7em;
}

label .label-body {
  vertical-align: top;
  width: 90%;
}
