// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.footer {
  margin-top: 4em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

h1.title {
  margin-bottom: 0.1em;
}

h2.operator {
  font-size: 3rem;
  background-color: #eee;
  padding: .3em;
  text-align: center;
}

p.subhead {
  font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem;
  font-style: italic;
}

.screenshots img {
  width: 100px;
}
